%div{:class=>'container box'}
  %h2
    YOU ROCK!
  %p
    Thank you for your interest. We'll be in touch when our website is closer to launch. Congrats on being early adopters to a new way of connecting skills with businesses. YOU ROCK!