%div{:class=>'container'}
  %h1
    Do what you love, let your passion drive business.  
  
  %div{:class=>'col-sm-3'}
    %span
      %strong
        How do I join?
      Just add your email to the pre-launch list and we'll reach out to you closer to launch.
	
    -if @potential_customer.errors.any?
      %ul{:class=>'error'} 
        -@potential_customer.errors.each do |attr,msg|
          %li
            =msg


    = form_for(:potential_customer, url: potential_customers_path ) do |f| 
      = devise_error_messages!
      .form-group
        = f.label :type, 'I would join this site because '
        = f.select :type, [['----', nil],['I have skills','employee'],['I am seeking skills','employer'],['I have & I am seeking skills','both']]
      .form-group
        .input-group
          = f.label :email
          = f.email_field :email, class: 'form-control', :placeholder=> 'Email'
      .form-group
        .input-group
          = f.label :description
          = f.text_area :description, class: 'form-control', :rows=> 8, :placeholder=>'Describe your skill and/or business.'
      = f.submit "Interested!", class: 'btn side-skillz-btn'
      
  %section{:class=>'box col-sm-4'}
    %h2
      Has Skills
    %p
      Whether you love writing, photography, cooking or programming we aim to match you with business seeking your skills. We pay at a steading increasing rate until you reach our highest rank. After you have proven yourself, we open the door to in-depth work with our community.
      %br
      %br
      %strong
        Why Join?
      Work in what you love doing. We don't care what your day job is.
      %br
      %br
      %strong
        What do I get out of it?
      You get connected to business that are looking for talented people like you. You have the opportunity to build your portfolio while improving your skills.


  %section{:class=>'box col-sm-4'}
    %h2
      Seeking Skills
    %p
      As a business owner you are often looking for talented people but you have difficulty finding the right fit. SideSkillz provides you with vetted candidates who love and are talented in a particular skill. You can leverage their passion to build your business and help them succeed.
      %br
      %br
      %strong
        Why Join?
      We hook you up with people who can boost your business as they build their skills.
      %br
      %br
      %strong
        What do I get out of it?
      We vet our candidate for competence and motivation. Candidate performance their service well below market rates.Ultimately you choose which candidates you want to hire and whether or not you want to keep working with them.