%div
  %h3
    Thank you for your interest.
%div
  %h4 Your Details
  %p Email: #{@potential_customer.email}
  %p Interest: #{@potential_customer.type}
  %p Description: #{@potential_customer.description}