#hireModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .modal-header
          %button.close{"data-dismiss" => "modal", type: "button"}
            %span{"aria-hidden" => "true"} ×
            %span.sr-only Close
          %h4#myModalLabel.modal-title Skill Seeker Registration
        .modal-body
          = devise_error_messages!
          = f.hidden_field :type, value: 'SkillSeeker'
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control'
          .form-group
            = f.label :company_name
            = f.text_field :company_name, class: 'form-control'
          .form-group
            = f.label :first_name
            = f.text_field :first_name, class: 'form-control'
          .form-group
            = f.label :last_name
            = f.text_field :last_name, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: "off", 
              class: 'form-control'
        .modal-footer
          = f.submit "Sign up", class: 'btn side-skillz-btn'