.row
  .col-sm-4
  .col-sm-4
    %h2 Sign up
    .btn-group
      %button.btn.btn-default{type: "button"} Employer
      %button.btn.btn-default{type: "button"} Worker
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "off", 
          class: 'form-control'
      = f.submit "Sign up", class: 'btn btn-primary'
    = render "devise/shared/links"
  .col-sm-4