%li
  .user-card
    .text-center
      - if user.profile_picture.blank?
        = image_tag 'missing.png', width: '120',
          class: 'img-responsive img-circle profile-picture'
      - else
        = image_tag user.profile_picture.url, width: '120', 
          class: 'img-responsive img-circle profile-picture'
      %h3= user.fullname
      - skill = user.skills.sample
      %p= skill.name
      .star{ data: { rating: user.reviews.map(&:rating).inject(:+) } }
      %p= "#{user.reviews.count} reviews"
      .solid-grey-line
      %ul.list-unstyled.list-inline
        %li= link_to 'Message', root_path, class: 'user-action-link'
        %li= link_to 'Hire', root_path, class: 'user-action-link'