- @user ||= current_user
.user-profile-picture-section
  .container
    .row
      .col-sm-12.text-center
        - if @user.profile_picture.blank?
          = image_tag 'missing.png', width: '200',
            class: 'img-responsive img-circle profile-picture'
        - else
          = image_tag @user.profile_picture.url, width: '200', 
            class: 'img-responsive img-circle profile-picture'
        %h1= @user.fullname