.side-skillz-section
  .container
    .row
      .col-sm-12.text-center
        %h1 Side SkillZ
        %ul.list-inline.list-unstyled.user-skill-list
          - @user.user_skills.each do |user_skill|
            %li.user-skill-list
              %h3= user_skill.skill.name
              .star{ data: { rating: user_skill.rating } }

.container
  .dotted-red-line

.recommended-projects-section
  .container
    .row
      .col-sm-12.text-center
        %h1 Recommended Projects
        %ul.list-inline.list-unstyled
          - Project.all.each do |project|
            = render partial: 'projects/card', locals: { project: project }