.project-description-section
  .container
    .row
      .col-sm-6
        %h1 Project Description
        %p= @project.description
        %ul.list-inline.list-unstyled
          %li.project-status-duration.text-center= "#{@project.duration} days"
          %li.project-status-duration.text-center= @project.aasm_state
      .col-sm-6
        %h1 Skillz Needed
        %ul.list-inline.list-unstyled
          - @project.skills.each do |skill|
            = render partial: 'skills/card', locals: { skill: skill }

.project-available-skillzers-section
  .container
    .row
      .col-sm-12
        %h1 Available SkillZers
        %ul.list-unstyled.list-inline
          - @project.skills.map(&:users).flatten.uniq.each do |user|
            = render partial: 'users/card', locals: { user: user }