.signed-out-index
  %header
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .navbar-header
          %button.navbar-toggle{ data: { target: '#header-navbar-collapse',
            toggle: 'collapse' }, type: 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: 'navbar-brand' do
            %ul.list-inline.list-unstyled
              %li= image_tag 'logo.png', width: '60'
              %li Side Skillz
        .navbar-collapse.collapse#header-navbar-collapse{ role: 'navigation' }
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Sign In', '#', data: { target: '#signInModal', toggle: 'modal' }

  .image-overlay-landing
    .container
      .row
        .col-sm-12.text-center
          %h1 Do What You Love
          %h2 Let people's passions drive your business
          %button.btn.landing-page-btn.btn-lg{"data-target" => "#workModal", "data-toggle" => "modal"}
            Work
          %button.btn.landing-page-btn.btn-lg{"data-target" => "#hireModal", "data-toggle" => "modal"}
            Hire

  .landing
    .first-section
      .container
        .row
          .col-sm-12
            %h1.text-center How It Works
        .row
          .col-sm-2
          .col-sm-3
            %h3 Bunch of skillZers
            %p SkillZers are people who want to expand and explore their passions.
          .col-sm-3
            %h3 Bunch of projects
            %p Empower people to build their skills, while they help you grow your business.
          .col-sm-3
            %h3 Get connected!
            %p Get connected and do it all over again!
          .col-sm-1
        .row
          .col-sm-12.text-center
            = button_tag 'View Projects', class: 'btn side-skillz-btn'
            = button_tag 'View SkillZers', class: 'btn'
    .second-section
      .container
        .row.first-testimonial
          .col-sm-2
            = image_tag 'user_1_testimonial.jpg', width: '130', 
              class: 'img-responsive img-circle'
          .col-sm-10
            %p.user-testimonial I am a CTO of a tech startup.  In my spare time, I enjoy copywriting and ad philosophy. I would even exercise this hobby for free for a company's benefit, because I enjoy it intrinsically and I learn from doing it
            %p.user-testimonial-name -Alexis Rondeau, CTO of Venture Assembly
        .dotted-red-line
        .row.second-testimonial
          .col-sm-10
            %p.user-testimonial I just started my coffee shop and needed copy for my website. I connected with Alexis through Side Skillz and he was extremely effective in helping me out. I had an amazing experience! There are some mad skillz here.
            %p.user-testimonial-name - Victor Moreno, Cafe Startup
          .col-sm-2
            = image_tag 'user_2_testimonial.jpg', width: '130', 
              class: 'img-responsive img-circle'

= render 'devise/registrations/hire_modal'
= render 'devise/registrations/work_modal'
= render 'devise/sessions/sign_in_modal'