$navbar-border-radius: 0;
$navbar-default-color: white;
$navbar-default-border: none;
$navbar-default-bg: #BF4759;
$navbar-default-link-color: white;
@import "bootstrap";
@import "compass";
@import "jquery.raty";
@import "layout";
@import "welcome";
@import "users";
@import "projects";
@import "skills";
@import "potential_customers";