// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm-min) {
}

@media (min-width: $screen-md-min) {
  .signed-in-index {
    header {
      nav.navbar.navbar-default {
        height: 100px;
        font-size: 1.2em;
        padding-top: 23px;
      }
      .navbar-main-links { margin-left: 75px; }
    }
  }
}

a.navbar-brand { margin-top: -12px; }

.side-skillz-btn {
  background-color: #C84B5D; 
  color: white;
}

.dotted-red-line { border-bottom: 1px dotted #C84B5D; }
.solid-grey-line { border-bottom: 1px solid grey; }

#notification-bar {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.signed-out-index {
  header {
    margin-bottom: -72px;
    color: white;
    background: transparent;
    nav.navbar.navbar-default {
      background: transparent;
      a.navbar-brand { 
        color: white;
        font-size: 2.0em;
      }
      ul.nav.navbar-nav.navbar-right > li > a { 
        color: white;
        font-size: 1.6em;
      }
    }
  }

  .image-overlay-landing {
    background: asset-data-url('web_guitar_music.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    .landing-page-btn {
      margin: 40px 12px 0 12px;
      padding-left: 35px;
      padding-right: 35px;
      background-color: transparent;
      border: 1px solid white;
    }
  }

  .landing {
    margin-top: 50px;
    .first-section {
      .btn {
        background-color: #C84B5D; 
        color: white;
        margin: 40px 12px 0 12px;
        padding-left: 35px;
        padding-right: 35px;
      }
    }
    .second-section { 
      margin-top: 60px;
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: #D3D3D3; 
      .user-testimonial { 
        font-weight: bold;
        font-style: italic;
        font-size: 1.2em;
      }
      .user-testimonial-name { 
        font-weight: bold;
        font-size: 1.2em;
      }
      .row.first-testimonial {
        margin-bottom: 30px;
      }
      .dotted-red-line {
        border-bottom: 1px dotted #C84B5D;
        margin-bottom: 36px;
      }
    }
  }
}

footer {
  padding: 25px;
  font-size: 1.2em;
  background-color: #484848;
  color: white;
  .copyright { margin-bottom: 18px; }
  ul {
    li > a {
      color: white;
      text-decoration: none;
    }
  }
}