// Place all the styles related to the potential_customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.box {
  padding: 0px; 
  border: 2px solid #C84B5D;
  margin: 5px;
  float: left;  
}

.box h2 {
  color: white;
  background: #C84B5D;
  text-align: center;
  margin-top: 0px;
  padding: 5px 0px 5px 0px;
}

.box p {
  padding: 10px;
}

.box strong {
  color: #C84B5D;
}

div strong {
  color: #C84B5D;
}

.error {
  color: red;
}