.project-description-section {
  ul > li.project-status-duration {
    border: 2px solid #C84B5D;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 220px;
    font-size: 2.5em;
    &:last-child {
      background-color: #606060;
      color: white;
      position: relative;
      right: 6px;
    }
  }
}
.project-profile-picture-section {
  background: asset-data-url('web_coffee.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -20px;
  padding-top: 120px;
  padding-bottom: 120px;
  color: white;
}

.project-available-skillzers-section { 
  background-color: #F0F0F0;
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  &:link {
    text-decoration: none;
    color: white;
  }
  
  .project-card {
    background-color: black;
    height: 200px;
    width: 339px;
    padding-top: 63px;
    margin: 15px 15px;
    h3 { color: white; }
  }
}