.user-profile-picture-section {
  background: asset-data-url('user_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -20px;
  padding-top: 120px;
  padding-bottom: 120px;

  .profile-picture {
    margin-left: auto;
    margin-right: auto;
  }
  color: white;
}

.side-skillz-section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.recommended-projects-section {
  margin-top: 25px;
  margin-bottom: 25px;
}

ul.user-skill-list {
  li {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.user-card {
  h3 { color: #C84B5D; }
  .user-action-link { color: #C84B5D; }
}