%footer
  .container
    .row
      .col-sm-12.text-center.copyright
        Copyright 2014 Side Skillz
    .row
      .col-sm-12.text-center
        %ul.list-unstyled.list-inline
          %li= link_to 'About Us', '#'
          %li= link_to 'Private Policy', '#'
          %li= link_to 'Terms & Conditions', '#'
          %li= link_to 'Fees & Charges', '#'