.signed-in-index
  %header
    %nav.navbar.navbar-default{ role: 'navigation' }
      .container
        .navbar-header
          %button.navbar-toggle{ data: { target: '#header-navbar-collapse',
            toggle: 'collapse' }, type: 'button' }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path, class: 'navbar-brand' do
            %ul.list-inline.list-unstyled
              %li= image_tag 'logo_white.png', width: '60'
              %li Side Skillz
        .navbar-collapse.collapse#header-navbar-collapse{ role: 'navigation' }
          %ul.nav.navbar-nav.navbar-left.navbar-main-links
            %li= link_to 'Profile', user_path(current_user)
            %li= link_to 'Skillzers', skillzers_path
            %li= link_to 'Inbox', '#'
            %li= link_to 'Settings', '#'
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Sign out', destroy_user_session_path, method: :delete