!!!
%html
  %head
    %title SideSkillz
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %body{ 'ng-app' => 'sideSkillz' }
    - if user_signed_in?
      = render 'layouts/header'
      = render 'layouts/flash'
      - if controller_name == 'users'
        = render 'users/user_background_info'
      - if controller_name == 'projects' && action_name == 'show'
        = render 'projects/project_background_info'
      = yield
      = render 'layouts/footer'
    - elsif controller_name == 'potential_customers'
      = yield
    - else
      - if controller_name == 'welcome' && action_name == 'index'
        = render 'layouts/flash'
        = yield
      - else
        = render 'layouts/header'
        = render 'layouts/footer'
        = yield